.white .ant-spin-dot-holder {
  color: #fff; /* Change this color to your desired spin color */
}

.ant-empty-image img {
  margin: auto;
}
.navlogo-container {
  width: 200px;
  height: 70px;
}
#topnav .navigation-menu > li {
  margin-left: 3px;
  margin-right: 3px;
}
.nav-item {
  margin-left: 3px;
  margin-right: 3px;
}
@media (max-width: 375px) {
  .navlogo-container {
    width: 120px;
    height: 36px;
  }
}
