.white .ant-spin-dot-holder {
  color: #fff; /* Change this color to your desired spin color */
}

.ant-empty-image img {
  margin: auto;
}
.navlogo-container {
  width: 200px;
  height: 70px;
}
#topnav .navigation-menu > li {
  margin-left: 3px;
  margin-right: 3px;
}
.nav-item {
  margin-left: 3px;
  margin-right: 3px;
}
.custom-swiper .swiper-wrapper {
  margin-bottom: 60px; /* Adjust the margin value as needed */
}
.homepage-swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #000000e6;
}
@media (max-width: 375px) {
  .navlogo-container {
    width: 120px;
    height: 36px;
  }
}
